turbot-cli*
.*.swo
.*.swp
*.tgz
.DS_Store
.idea
.nyc_output
.serverless
.swo
.swp
.terraform
__pycache__
dist
**/dist/*
node_modules
*.log
**/env/integration/.*
**/env/integration/*-alpha*
*.code-workspace
/coverage/*
codebuild_artifacts
turbot_mod
turbot.dist.json
turbot.head.json
turbot.json